:root {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: #000; }

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.5; }

body {
  padding: 6rem 1rem 3rem; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem; }
  header a {
    color: black;
    text-decoration: none; }
  header a:hover {
    text-decoration: underline; }

article.project {
  display: flex;
  display: -webkit-flexbox;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem; }
  article.project h2.project-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem; }
  article.project img.project-image {
    margin: 0 auto 1rem 0;
    max-width: 100%;
    height: auto; }
  article.project img.project-image + img.project-image {
    margin-bottom: 0; }

footer {
  padding: 0 0 2rem;
  text-align: center; }
  footer a {
    text-decoration: none;
    color: black; }

@media (min-width: 600px) {
  article.project {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 9rem; }
    article.project h2.project-title {
      width: 100%;
      margin-top: 2rem;
      order: 3; }
    article.project img.project-image.single {
      max-width: 45%;
      margin: 0 auto; }
    article.project img.project-image.double {
      max-width: 30%;
      order: 1;
      margin: 0 2rem auto auto; }
    article.project img.double + img.double {
      order: 2;
      margin: 0 auto auto 0; } }
