:root {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  overflow: hidden;
  padding: 22px;
  margin: 0; }

li, td, p {
  margin: 0;
  font-size: 0.625rem;
  line-height: 1.5; }

header {
  align-self: top;
  padding: 0; }
  header a {
    text-transform: uppercase;
    color: black;
    text-decoration: none; }
  header a:hover {
    text-decoration: underline; }

.carousel-cell {
  cursor: pointer;
  width: 100%;
  /* full width */
  height: 100vh;
  /* height of carousel */
  margin-right: 10px;
  display: flex; }
  .carousel-cell img {
    margin: auto;
    width: auto;
    height: 90%;
    object-fit: contain;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none; }

@media (max-width: 600px) {
  body {
    display: block;
    margin: 0;
    padding: 0; }
  header {
    margin: 20px 0;
    padding: 0 10px; }
  .flickity-prev-next-button {
    display: none; }
  .carousel-cell img {
    width: 85%;
    height: auto;
    object-position: top;
    margin-top: 0; } }
