:root {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight:normal;
  color: #000;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.625rem;
  font-weight: normal;
  line-height: 1.5;
  text-transform: uppercase;
}

body {
  padding: 1rem 1rem 3rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4rem;
  a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
  a:hover { text-decoration: underline; }
}

article.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  h2.project-title {
    width: 100%;
  }
  img.project-image { 
    margin: 0 auto 1rem 0; // oben links angeschlagen
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 600px) {
  article.project {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    h2.project-title {
      width: 100%;
      text-align: center;
      margin-top: 2rem;
      order: 3; // unten
    }
    img.project-image.single {
      max-width: 65%;
      margin: 0 auto;
    }
    img.project-image.double { 
      max-width: 35%;
      order: 1; // links
      margin: 0 1rem auto auto;
    }
    img.double + img.double {
      order: 2; // rechts
      margin: 0 auto auto 0;
    }
  }
}
