<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href="/assets/_pic/favicon.png">
  <title>{{ currentSite.name }}</title>
  <meta description="Mathias Renner is a swiss artist specialized in installation art and photgraphy.">
</head>
<body>

{% set entry = craft.entries.section('home').one() %}

  <header>
    <p><a href="tel:+447479401298">uk +44 74 794 01 298</a></p>
    <p><a href="tel:+41774438391">ch +41 77 443 83 91</a></p>
    <p><a href="mailto:info@mathiasrenner.ch">info@mathiasrenner.ch</a></p>
  </header>
 
  <main>
    {% if entry.images|length %}
      {% for image in entry.images %}
      <section class="image-container">
        <img src="{{ image.getUrl() }}" alt="">
      </section>
      {% endfor %}
    {% else %}
    <p>There are no images at this time.</p>
    {% endif %}
  </main>

  <script src="/assets/js/vue/vue.min.js"></script>
</body>
</html>
