<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" href="/assets/_pic/favicon.png">
  <title>{{ currentSite.name }}</title>
  <meta description="Mathias Renner is a swiss artist specialized in installation art and photgraphy.">
</head>
<body>

  <header>
    <p><a href="tel:+447479401298">uk +44 74 794 01 298</a></p>
    <p><a href="tel:+41774438391">ch +41 77 443 83 91</a></p>
    <p><a href="mailto:info@mathiasrenner.ch">info@mathiasrenner</a></p>
  </header>
 
  <main>
    <article>
      <section></section>
    </article>
  </main>
)
{% set index_page = craft.entries.section('home').one() %}
		<div id="maximage">
		    <div class="first-item">
		        <img src="/images/Mathias Renner_Black Leather.jpg" alt="" />
		    </div>
		    
		    <img src="/images/Mathias Renner_Matisse.jpg" alt="" />
		    
		    
		    

		</div>
		<p id="next"></p>
		
		<div id="content" class="sub">
			<ul class="main">
				<li class="sub">    </li>
				<li>UK +44 74 794 01 298</li>
			
			<ul class="sub">
				<li>CH +41 77 443 83 91</li>
				<li>INFO@MATHIASRENNER.CH</li>

			</ul>
			
		</div> 
</body>
</html>
